:root {
	--bg: #222;
}

html,
body {
	font-family: system-ui;
	margin: 0;
}

body {
	padding: 2rem;
    color: white;
    background: var(--bg);
}

/* tabs content */
.tabs {
	display: flex;
	background: #0ef5;
	user-select: none;
	color: black;
}
.tabs span {
	padding: 5px 10px;
	cursor: pointer;
}
.tabs span.selected {
	background: skyblue;
	cursor: auto;
}
.tabs-container .content {
	color: black;
	background: skyblue;
	padding: 20px;
	height: 100%;
}
.tabs-container h1 {
	font-size: 1.5em;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

/* more specific styles */
pre.astro-code {
	padding: 15px;
	font-size: 1.3em;
}
button {
	box-shadow: 
		inset 0px -2px 2px 0px #0000009c,
		0px 4px 4px 4px #ffffff08;
    border: none;
    padding-bottom: 4px;
    padding-top: 2px;
    cursor: pointer;
}
button:active {
	transform: translate(0, 1px) scaleY(.98);
}
