---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Code } from 'astro/components';

const dedent = (...data) => {
    const code = String.raw(...data)
        .replace(/^\s*\n|\n\s*$/g, '')
        .replace(/\t/g, '  ');
    const indentLen = code.match(/\s+/)[0].length;
    return code.replace(new RegExp(`^ {${indentLen}}`, 'gm'), '');
};
---
<style>
    a {
        text-decoration: none;
        padding: 4px 10px 6px 10px;
        background: white;
        box-shadow: 
            inset 0px -2px 2px 0px #0000009c, 
            0px 4px 4px 4px #ffffff08;
        float: right;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .container p {
        padding: 10px 80px;
        border: 1px solid white;
        display: inline-block;
        position: relative;
    }
    .container p:before {
        content: 'Container';
        position: absolute;
        top: -23px;
        left: -2px;
        color: white;
        background: grey;
        padding: 1px 8px;
        z-index: -1;
    }
    .container p span {
        color: aqua;
    }
</style>

<BaseLayout>
    <p>Using "Context" we can attach state to the component tree</p>
    <Code code={dedent`
        <body>
            <ParentComponent> <!-- set context here -->
                <RandomNode />
                <RandomNode />
                <RandomNode>
                    <section>
                        <div>
                            <ChildNode /> <!-- access context here -->
                        </div>
                    </section>
                </RandomNode>
            </ParentComponent>

            <ChildNode /> <!-- cannot access context -->
        </body>
    `} lang="jsx" theme="dark-plus" />

    <p>We can pass "props" to our child component without explicitly writing much</p>
    <Code code={dedent`
        <Container color="aqua"> <!-- context = ❴ color: 'aqua' ❵ -->
            <SayPhrase content="hello!"> <!-- color = getContext().color -->
        </Container>
    `} lang="jsx" theme="dark-plus" />

    <br>
    <div class="container">
        <p>I'm saying "<span>hello!</span>"</p>
    </div>

    <br>
    <a href="/components">Go To Components ➤</a>
</BaseLayout>